.row {
    background: #e8e8e8;
    width: 560px;
}
.columna {
    background: #f2f2f2;
    text-align: center;
    padding: 10px;
    border: solid 1px #4d5061;
}
.columna:hover{
    border: solid 4px green;
}
.col{
    width: 70px;
    height: 70px;
}
.col.principal{
    border: solid 1px yellow;
}
.principal{
    border: solid red 1px;
    width: 100%;
}
